---

---

<!-- write a sidebar button to close -->
<div class="mt-10 h-32 w-32 z-20">
    
    <button class="h-10  w-10 bg-gray-200 rounded-full shadow-lg mr-4 mb-4" onclick="toggleSidebar()">
        <svg class="h-10 w-10 fill-current text-gray-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 12.59l-4.3 4.3a1 1 0 1 1-1.4-1.42L8.59 11 4.3 6.7a1 1 0 1 1 1.4-1.42L10 9.59l4.3-4.3a1 1 0 1 1 1.4 1.42L11.41 11l4.3 4.3a1 1 0 1 1-1.4 1.42L10 12.59z"/></svg>
    </button>


</div>
